<div class="row container px-sm-5 py-5 justify-content-center mx-auto">
 <div class="my-3"><h1>Administrar Sector y Actividades</h1></div>
 <hr />
 <div class="container">
          <div class="row align-items-right my-1">
              <div class="col-12 col-md-6">
                <button id="volver" type="submit" class="btn btn-primary">Volver</button>
               </div>
         </div>
</div>
<div class="border shadow col-12 col-lg-4">
       
      <div class="container">
          <div class="row align-items-center my-5">
              <div class="col-12 col-md-6">
                  <h5>ACTIVIDAD</h5>
              </div>

<div class="container input-group col-12 col-md-6">
    <input type="text" id="txtAgregarActividad" class="form-control" placeholder="Ingrese Nueva Actividad">
    <button type="submit" id="btnAgregarActividad" onclick="agregarActividad()"  class="btn btn btn-outline-primary shadow px-">Agregar</button>
</div>
<div class="container input-group col-12 col-md-6 mt-1"> 
    <select id="actividad" class="form-select" aria-label="Default select example">
                {{#each actividad}}
                        <option value="{{this.id_actividad}}">{{this.nombre}}</option>
                {{/each}}
            </select>   
    <button type="submit" onclick="eliminarActividad()" id="btnEliminarActividad" class="btn btn btn-outline-danger shadow">Eliminar</button>  
</div>
          </div>
      </div>
 </div>

 <div class="border shadow col-12 col-lg-4">
       
      <div class="container">
          <div class="row align-items-center my-5">
              <div class="col-12 col-md-6">
                  <h5>NIVEL</h5>
              </div>
<div class="container input-group col-12 col-md-6">

    <input type="text" id="txtAgregarNivel" class="form-control" placeholder="Ingrese Nuevo Nivel">
    <button type="submit" id="btnAgregarNivel" onclick="agregarNivel()" class="btn btn btn-outline-primary shadow px-">Agregar</button>
</div>
<div class="container input-group col-12 col-md-6 mt-1"> 
         <select id="nivel" class="form-select" aria-label="Default select example">
                {{#each niveles}}
                        <option value="{{this.id_nivel}}">{{this.nombre}}</option>
                {{/each}}
            </select>   
        <button type="submit" onclick="eliminarNivel()" id="btnEliminarNivel" class="btn btn btn-outline-danger shadow">Eliminar</button>  
</div>

          </div>
      </div>
 </div>

 <div class="border shadow col-12 col-lg-4">
       <div class="container">
          <div class="row align-items-center my-5">
              <div class="col-12 col-md-6">
                  <h5>ÁREA</h5>
              </div>
<div class="container input-group col-12 col-md-6">

    <input type="text" id="txtAgregarArea" class="form-control" placeholder="Ingrese Nueva Área">
    <button type="submit" id="btnAgregarArea" onclick="agregarArea()" class="btn btn btn-outline-primary shadow px-">Agregar</button>
</div>
<div class="container input-group col-12 col-md-6 mt-1"> 
        <select id="area" class="form-select" aria-label="Default select example">
                {{#each area}}
                        <option value="{{this.id_area}}">{{this.nombre}}</option>
                {{/each}}
            </select>   
        <button type="button" id="btnEliminarArea" onclick="eliminarArea()" class="btn btn btn-outline-danger shadow">Eliminar</button>  
</div>
</div>     

          </div>
      </div>
 </div>
</div>

{{!-- //--------------------------------------------------------//
//***** AREA *****
//AGREGAR AREA --}}
<script>
async function agregarArea(){
     try {
    const nombre = document.getElementById("txtAgregarArea").value;
    let payload = {nombre};
    await axios.post("/api/area", payload);
   alert("Area Agregada Correctamente")
    window.location = `/sectActividades`;
   }catch(error){
        console.log("Error al Agregar Area");
    };
};
</script>

{{!-- //ELIMINAR AREA --}}
<script>
  async function eliminarArea() {
      const id_area = document.getElementById("area").value;
      const opcion = document.getElementById("area").selectedIndex ;
      console.log(opcion)
      console.log(id_area)
    try {
    await axios.delete("/api/area/"+id_area)
    alert("Area Eliminada Correctamente")
    window.location = `/sectActividades`
    }catch(e){
    alert("Error al eliminar Area")
      };
  };
</script>



{{!----------------------------------------------------------//
//***** ACTIVIDAD *****
//AGREGAR ACTIVIDAD --}}
<script>
async function agregarActividad(){
     try {
    const nombre = document.getElementById("txtAgregarActividad").value;
    let payload = {nombre};
    await axios.post("/api/actividad", payload);
   
   }catch(error){
        console.log("ERROR")
    };
};
</script>

<script>
  async function eliminarActividad() {
      const id_actividad = document.getElementById("actividad").value;
      const opcion = document.getElementById("actividad").selectedIndex ;
      console.log(opcion)
      console.log(id_actividad)
    try {
    await axios.delete("/api/actividad/"+id_actividad)
    alert("Actividad Eliminada Correctamente")
    window.location = `/sectActividades`
    }catch(e){
    alert("Error al eliminar Actividad")
      };
  };
</script>

{{!----------------------------------------------------------//
//***** NIVEL *****
//AGREGAR NIVEL --}}
<script>
async function agregarNivel(){
     try {
    const nombre = document.getElementById("txtAgregarNivel").value;
    let payload = {nombre};
    await axios.post("/api/nivel", payload);
   
   }catch(error){
        console.log("ERROR")
    };
};
</script>

<script>
  async function eliminarNivel() {
      const id_nivel = document.getElementById("nivel").value;
      const opcion = document.getElementById("nivel").selectedIndex ;
      console.log(opcion)
      console.log(id_nivel)
    try {
    await axios.delete("/api/nivel/"+id_nivel)
    alert("Nivel Eliminado Correctamente")
    window.location = `/sectActividades`
    }catch(e){
    alert("Error al eliminar Nivel")
      };
  };
</script>

<script>
    const volver = document.getElementById("volver")
    volver.addEventListener("click", async (e) => {
        e.preventDefault()
        window.location = `/menuAdmin`
    });
</script>